.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}


.Blog p {
  font-family: Roboto;
} 

.Blog img {
  width: 100%;
}


.Divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #003344;
  margin: 5rem 0;
}

.HeaderSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: -99;
}

.HeaderSection .Switch {
  text-emphasis: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.HeaderSection .PostsLink {
  color: "white";
  background-color: "#013344";
  text-emphasis: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.HS-Title {
  color: #878787;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  font-weight: 300;
  margin: .25rem 0;
}

.HS-Name {
  margin-bottom: 0;
}

.HS-Bio {
  font-size: 1.5em;
  text-align: justify;
  margin: 0 auto;
  padding: 1vh;
  width: 50%;
}

.HS-Selfie-and-Name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  font-weight: 500;
  justify-content: space-evenly; 
}

.HS-Selfie-and-Name img {
  border-radius: 50%;
}

.HS-Selfie {
  border-radius: 50%;
  padding: 20px;
  max-width: 200px;
}

.HS-Links {
  display: flex;
  padding-top: 3em;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bold;
}

.link-icon {
  height: 1.3em;
  width: 1.3em;
  margin: 0 0.4em;
}

.HS-Links a {
  color: grey;
  align-self: center;
  text-decoration: none;
  padding: 5px;
}

.HS-Links a:hover {
  cursor: "pointer";
  color: #222;
  align-self: center;
  text-decoration: none;
}
.PortfolioSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 100vh;
  position: relative;
  z-index: 1000;
}

.PS-Title {
  text-align: center;
  color: white;
  padding: 1em;
}

.PS-List {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 20%;
  padding: 0 50px;
}

.PortfolioSectionItem button {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  background-color: #003bb1;
  padding: 15px 32px;
  text-align: center;
  font-size: 24px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.PortfolioSectionItem button a {
  color: white;
  text-decoration: none;
}
.PortfolioSectionItem button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.FooterSection {
  margin-top: 0;
  padding-top: 0;
  height: 10%;
  background-color: black;
  text-align: center;
}
.FooterSection h3 {
  padding: 10px;
  color: white;
  margin: 0;
  font-size: 1em;
}
.FooterSection a {
  color: white;
}
.FooterSection a:hover {
  color: grey;
}

@media only screen and (max-width: 992px) {
  .HeaderSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    position: relative;
    z-index: 0;
  }

  .PortfolioSection {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #003344;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    z-index: 0;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  }

  .HS-Title {
    color: #878787;
    font-size: 2.22rem;
    letter-spacing: 0.08rem;
    font-weight: 300;
  }

  .HS-Bio {
    width: 80%;
    padding: 20px;
    font-size: 1em;
  }

  .HS-Selfie-and-Name {
    flex-direction: column;
    margin-top: 10%;
  }

  .HS-Selfie {
    padding: 0;
  }

  .HS-Bio {
    padding: 0;
  }



  .HS-Links {
    padding: 20px;
    display: flex;
  }
  .HS-Links a {
    z-index: 0;
    padding: 20px;
    display: flex;
  }


}

.keepReadingLink  a  {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-style: italic !important;
}

.keepReadingLink  a:hover  {
text-decoration: line-through;
color: #003344;
}